body {
	background-color: #152733;
	margin: 0px;
	height: 100%;
}
.clearfix {
	clear: both;
}

.content {
	width: 950px;
	min-height: 100%;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: -150px;
}
.content:after {
	content: "";
	display: block;
}

.footer {
	height: 150px;
	background-color: #737377;
	margin: 0px;
}
.footer:after {
	display: block;
}
.footer, .content:after {
	height: 150px;
}

.footer .copyright {
	font-size: 40px;
	display: block;
	padding-top: 2.5%;
	text-align: center;
	font-family: "Pacifico";
}
.picture {
	max-width: 100%;
	height: 56.25%;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
 	bottom: 0;
  	left: 0;
  	right: 0;
  	margin: 0 auto;
}
.thumbnails{
	width: 950px;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	top: 59%;
 	bottom: 0;
  	left: 0;
  	right: 0;
  	margin: 0 auto;
}
.thumbnail1 {
	height: 36%;
	margin: 0px;
	opacity: 0.6;
}
.thumbnail1.margins {
	margin-left: 11.7%;
}

